<!-- contact.hbs -->
<div class="container wrapper">
    <section class="flex flex-container contact-section">
        <div class="section__container">
            <div class="section__content">
                <h1 class="mantra-title--alt">Contact Us</h1>
                <p class="mantra-text">Have questions or thoughts to share? We're here to help. Contact us using the email or phone below. Let’s connect and explore your path to wellness together!</p>
                <a class="mantra-cta-link" href="tel:+6288111990000" target="_blank">+6282341415939</a><br />
                <a class="mantra-cta-link" href="mailto:hello@mantrawellness.com" target="_blank">hello@mantrawellness.com</a><br />
                <a class="mantra-cta-link" href="https://maps.app.goo.gl/T9nStcficWZYmfxX9" target="_blank">Pecatu, Bali, Indonesia</a>
            </div>
        </div>
        <div class="section__container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3942.66750946127!2d115.1068358!3d-8.8172729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd2454db070fc67%3A0x83cb13f7b83d60b0!2sPecatu%2C%20South%20Kuta%2C%20Badung%20Regency%2C%20Bali%2080361%2C%20Indonesia!5e0!3m2!1sen!2s!4v1708322620230!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</div>