<!-- contact.hbs -->
<div class="container wrapper">
    <section class="flex flex-container contact-section">
        <div class="section__container">
            <div class="section__content">
                <h1 class="mantra-title--alt">Contact Us</h1>
                <p class="mantra-text">Have questions or thoughts to share? We're here to help. Contact us using the email or phone below. Let’s connect and explore your path to wellness together!</p>
                <a class="mantra-cta-link" href="tel:+6288111990000" target="_blank">+6288111990000</a><br />
                <a class="mantra-cta-link" href="mailto:contact@mantrawellness.com" target="_blank">contact@mantrawellness.com</a><br />
                <a class="mantra-cta-link" href="https://www.google.fr/maps/place/Padang+Padang+Beach/@-8.8111471,115.1012494,17z/data=!3m1!4b1!4m6!3m5!1s0x2dd245505d4ce257:0x64783bec584c4015!8m2!3d-8.8111377!4d115.1037658!16s%2Fg%2F11b6syl4fp?entry=ttu" target="_blank">Padang, Bali, Indonesia</a>
            </div>
        </div>
        <div class="section__container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.7328731986063!2d115.10124937501111!3d-8.811147140122408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd245505d4ce257%3A0x64783bec584c4015!2sPadang%20Padang%20Beach!5e0!3m2!1sen!2sid!4v1706351546239!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</div>