<!-- host-retreat.hbs -->
  <section class="host-section text-center" id="vision">
      <div class="host-section__content">
        <h1 class="mantra-title--accent text-center">
          Looking to host a retreat in paradise?
        </h1>
        <p class="mantra-text mantra-text--accent">
          Envision your retreat in Bali's serene beauty. At Mantra Wellness Center, we provide the perfect setting and support for a transformative experience.
        </p>
        <button class="btn btn--white">
          <a href="/host-a-retreat">Get Info & Apply</a>
        </button>
      </div>
      <img src="/content/images/bg-w.png" />
  </section>