{{#if access}}
  {{#if tags}}
    <div class="post-tags content-width">
      {{#foreach tags limit="all"}}
        <a href="{{url}}" {{#if accent_color}}style="--color-accent:{{accent_color}};"{{/if}}>{{name}}</a>
      {{/foreach}}
    </div>
  {{/if}}
{{/if}}