{{!-- Facebook --}}
{{#if @site.facebook}}
  <a href="{{facebook_url}}" class="facebook" aria-label="Facebook">{{>icon name="facebook" size="sm"}}<span>Facebook</span></a>
{{/if}}

{{!-- Twitter --}}
{{#if @site.twitter}}
  <a href="{{twitter_url}}" class="twitter" aria-label="Twitter">{{>icon name="twitter" size="sm"}}<span>Twitter</span></a>
{{/if}}

{{!-- RSS --}}
<a href="{{@site.url}}/rss" class="rss" aria-label="RSS">{{>icon name="rss" size="sm"}}<span>RSS</span></a>

{{!-- Discord --}}
{{!-- <a href="" class="discord" aria-label="Discord">{{>icon name="discord" size="sm"}}<span>Discord</span></a> --}}

{{!-- Github --}}
{{!-- <a href="" class="github" aria-label="Github">{{>icon name="github" size="sm"}}<span>Github</span></a> --}}

{{!-- Instagram --}}
{{!-- <a href="" class="instagram" aria-label="Instagram">{{>icon name="instagram" size="sm"}}<span>Instagram</span></a> --}}

{{!-- Pinterest --}}
{{!-- <a href="" class="pinterest" aria-label="Pinterest">{{>icon name="pinterest" size="sm"}}<span>Pinterest</span></a> --}}

{{!-- Reddit --}}
{{!-- <a href="" class="reddit" aria-label="Reddit">{{>icon name="reddit" size="sm"}}<span>Reddit</span></a> --}}

{{!-- Telegram --}}
{{!-- <a href="" class="telegram" aria-label="Telegram">{{>icon name="telegram" size="sm"}}<span>Telegram</span></a> --}}

{{!-- Tiktok --}}
{{!-- <a href="" class="tiktok" aria-label="Tiktok">{{>icon name="tiktok" size="sm"}}<span>Tiktok</span></a> --}}

{{!-- Whatsapp --}}
{{!-- <a href="" class="whatsapp" aria-label="Whatsapp">{{>icon name="whatsapp" size="sm"}}<span>Whatsapp</span></a> --}}

{{!-- Youtube --}}
{{!-- <a href="" class="youtube" aria-label="Youtube">{{>icon name="youtube" size="sm"}}<span>Youtube</span></a> --}}
