@define-mixin darktheme {
  @media (prefers-color-scheme: dark) {
    html[data-color-scheme="system"] {
      @mixin-content;
    }
  }

  html[data-color-scheme="dark"] {
    @mixin-content;
  }
}

/* Custom CSS */

.hero {

  &__content {
    margin-top: 54px !important;

    h1 {
      /* text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6); */
    }
  }
}

.post-hero {

  &__figure {

    > picture {
      display: block;
      height: 320px;
    }
  }
}

.section__container {
  iframe {
    max-width: 100%;
  }
}

.menu__toggle {
  background: #989660 !important;
}

.btn {
  a, a:link, a:link:visited, a:visited{
    text-decoration: none !important;
    border-bottom: none !important;
  }

  &--brand {
    border-radius: var(--border-radius-full) !important;
    padding: 16px !important;
    a {
      color: white !important;
    }
  }

  &--white {
    border-radius: var(--border-radius-full) !important;
    padding: 16px !important;
  }
}

.btn--accent {
  background-color: white;
  color: var(--color-brand);
}

.mantra-section {
  padding-top: var(--padding-xl);
}

.mantra-box-cta {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: var(--border-radius-md);
  padding: var(--padding-md);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-thin);
    margin-bottom: 0.5em;
    color: var(--color-brand);
    line-height: var(--line-height-sm);
  }

  img {
    max-width: 64px;
  }

  .btn {
    margin: 0 auto;
  }
}

.full-container {
  width: 100%;
}

.grid-container {
  display: grid;
  gap: 24px; /* Adjust the gap between grid items */
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.flex-container > * {
  flex: 1; /* Assigns equal flex-grow and flex-shrink values */
  min-width: 0; /* Prevents flex items from growing too large */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.container-center {
  max-width: 524px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.flex-container .text-content {
  flex: 1;
  padding-right: 20px; /* Adjust the padding as needed */
}

.flex-container .image-content {
  flex: 1;
}

.coming-soon {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: var(--padding-xl);
  border: 1px solid black;

  p {
    margin: 0;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
}

.custom-list {
  list-style: none;
}

.section-retreats {
  max-width: 880px;
  margin: 0 auto;

  .flex-container {
    .image-content {
        max-width: 320px;
      }
  }
}

.mantra-title, .mantra-title--accent {
  position: relative;
  margin-bottom: var(--margin-lg);
  &::after {
    content: "";
    display: block;
    height: 54px; /* Adjust as needed */
    width: 54px; /* Adjust as needed */
    margin: 0 auto; /* Center the icon if needed */
    position: relative;
    /* background-image: url('/content/images/title-subline.svg'); */
    top: 0; /* Adjust as needed */
    left: 0;
    background-size: contain;
  }
}

.mantra-title {

  &::after {
    background-image: url('/content/images/title-subline.svg');
  }

  &--accent {
    &::after {
      background-image: url('/content/images/title-subline-white.svg');
    }
  }
}

.mantra-title-alt {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
}

.mantra-text {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-thin);
  line-height: var(--line-height-base);
  margin-bottom: var(--margin-lg);

  &--accent {
    color: white;
  }
}

.mantra-main-cta-section {
  .flex {
    gap: var(--gap-rem);
  }
}

.mantra-cta-link {
  color: var(--color-brand);
  font-size: var(--font-size-sm-plus);
  font-weight: var(--font-weight-bold);
}

.section {
  &__container { 
    width: 100%;
  }

  &__content {
    max-width: 520px;
    margin: 0 auto;
  }
}

.mantra-vision-section {
  position: relative;
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xl);

  &__img-1 {
    max-width: 520px;
    width: 70%;
    margin: 0 auto;
  }
  
  &__img-2 {
    position: absolute;
    top: 120px;
    left: 0;
    width: 30%;
    max-width: 140px;
  }

  &__img-3 {
    position: absolute;
    bottom: 300px;
    right: 0;
    width: 30%;
    max-width: 240px;
  }

  &__vector-1 {
    position: absolute;
    right: 0;
    top: 120px;
    max-width: 10px;
  }

  &__vector-2 {
    position: absolute;
    left: 0;
    bottom: 120px;
    max-width: 10px;
  }

  .mantra-text {
    max-width: 520px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 120px;
  }
}

.host-section {
  width: 100%;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    margin-top: 32px;

    p {
      max-width: 520px;
      margin: 0 auto 40px;
    }
  }

  img {
    width: 100%;
  }
}

.lead-section {
  padding-bottom: var(--padding-xl);
  padding-top: var(--padding-xl);
  input {
    width: 100%;
  }
}

.quote-section {
  width: 100%;
  position: relative;
  background-image: url('/content/images/footer-bg.jpg');
  background-size: cover;
  background-position: bottom;
  height: 520px;
  img {
    width: 100%;
  }
  p {
    position: absolute;
    top: 50%;
    max-width: 760px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 auto;
    padding: var(--gap-rem);
    text-align: center;
    color: white;
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-md);
  }
}

.team-section {
  padding-top: var(--margin-xl);

  h3 {
    margin-top: var(--margin-sm);
    margin-bottom: 0;
  }

  h4 {
    opacity: .5;
  }
}

.container.wrapper.team-section {
  padding-left: 0;
  padding-right: 0;
}

.contact-section {
  padding-bottom: 0;

  .mantra-title {
    margin-bottom: 0;
  }

  &__container {
    width: 100%;
  }
  &__content {
    max-width: 420px;
    margin: 0 auto;
  }
}

.host-retreat-section {
  padding-top: var(--padding-xl);
}

.apply-section {
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xl);
}

.event-apply-section {
  padding-top: var(--padding-2xl);
  /* padding-bottom: var(--padding-xl); */
}

.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Create a square aspect ratio (1:1) */
  overflow: hidden; /* Hide any content that exceeds the square's dimensions */
  /* Add more styles to the square container as needed */
}



/* Tabel Size */

@media (max-width: 768px) {
  .hero {
    &__title {
      font-size: 2.5rem !important;
    }
  }

  .mantra-main-cta-section {
    .flex {
      flex-direction: column;
    }
  }

  .mantra-vision-section {
    padding-bottom: 0;
    padding-top: 24px;

    &__img-2 {
      top: 180px;
    }

    &__img-3 {
      bottom: 290px;
    }

    &__vector-2 {
      display: none;
    }

    .mantra-text {
      padding-top: 40px;
    }
  }

  .host-section {
    width: 100%;
    overflow: hidden;

    img {
      min-width: 1440px;
      margin-left: -400px;
    }

    &__content {
      padding: 0 16px;
    }
  }

  .quote-section {
    p {
      font-size: var(--font-size-sm);
    }
  }

  .hero {

    &__description {
      font-size: 1.5rem !important;
    }
  }

  .hero.is-home {
    margin-bottom: 60px;

    .hero__content {
      padding-top: 60px;
    }
  }

  .mantra-title-alt {
    font-size: var(--font-size-md);
  }

  .flex-container {
      flex-direction: column;
  }
  .grid-container {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }

  article.content.post-access-public {
    padding: 0 16px;
  }

  .post-hero__title {
    font-size: 2rem !important;
    letter-spacing: 0.25rem !important;
  }

  .flex-container {
    .text-content {
      padding-right: 0;
    }
  }
}
